@use "../../../mixins.scss";
@use "../../../variables.scss";

.mainActivitiesBlock {
  padding: 120px 40px;
  background-color: variables.$color-1;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: variables.$color-1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -10;
  }
  .mainActivitiesBlock__content {
    .mainActivitiesBlock__cardsContainer {
      @include mixins.displayFlexProps(row, center, unset);
      .mainActivitiesBlock__card {
        .textContainer {
          color: variables.$black;

          h3 {
          }
          span {
          }
        }
      }
    }
  }
}
