@use "../../../variables.scss";
@use "../../../mixins.scss";

.aboutUsSection {
  position: relative;
  .aboutUsSection__content {
    h2,
    p {
      color: variables.$black;
    }
    .aboutUsSection__topContainer,
    .aboutUsSection__bottomContainer {
      @include mixins.displayFlexProps(column, flex-start, unset);
      row-gap: 40px;
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .aboutUsSection__topContainer {
      margin-bottom: 100px;
      h2 {
        font-weight: 500;
      }
    }
    .aboutUsSection__bottomContainer {
      h3 {
        font-weight: 400;
      }
      .aboutUsSection__horizontalScrollContainer {
        position: relative;
        width: 100vw;
        height: 40vh;
        overflow-x: hidden;
        @include mixins.displayFlexProps(row, center, flex-start);
        flex-wrap: nowrap;
        display: block;
        column-gap: 20px;
        .aboutUsSection__imagesContainer {
          position: absolute;
          width: auto;
          height: fit-content;
          padding-top: 40px;
          height: 100%;
          @include mixins.displayFlexProps(row, flex-end, flex-start);
          flex-wrap: nowrap;
          column-gap: 20px;

          img {
            height: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .aboutUsSection {
    padding-top: 450px;
  }
}

@media (max-width: 1024px) {
  .aboutUsSection {
    padding: 350px 20px 0 20px;
  }
}

@media (max-width: 425px) {
  .aboutUsSection {
    padding-top: 200px;
  }
}
