@use "../../../variables.scss";
@use "../../../mixins.scss";

.aboutUsSection {
  @media (min-width: 2559px) {
    padding: 500px 0 0 0;
  }

  .aboutUsSection__content {
    h2,
    p {
      color: variables.$black;
    }
    .aboutUsSection__topContainer,
    .aboutUsSection__bottomContainer {
      @include mixins.displayFlexProps(column, flex-start, unset);
      row-gap: 40px;
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .aboutUsSection__topContainer {
      margin-bottom: 100px;
      h2 {
        font-weight: 500;
      }
    }
    .aboutUsSection__bottomContainer {
      h3 {
        font-weight: 400;
      }
      .aboutUsSection__imagesContainer {
      }
    }
  }
}
