@use "../../../variables.scss";
@use "../../../mixins.scss";

.aboutUsSection {
  position: relative;
  .aboutUsSection__content {
    h2,
    p {
      color: variables.$black;
    }
    .aboutUsSection__topContainer,
    .aboutUsSection__bottomContainer {
      @include mixins.displayFlexProps(column, flex-start, unset);
      row-gap: 40px;
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .aboutUsSection__topContainer {
      margin-bottom: 100px;
      h2 {
        font-weight: 500;
      }
    }
    .aboutUsSection__bottomContainer {
      h3 {
        font-weight: 400;
      }
      .aboutUsSection__horizontalScrollContainer {
        position: relative;
        transform: translateX(-10vw);
        width: 120vw;
        overflow-x: hidden; //change later
        right: -10vw;
        left: -10vw;
        @include mixins.displayFlexProps(row, center, flex-start);
        column-gap: 20px;
        .aboutUsSection__imagesContainer {
          padding-top: 40px;
          @include mixins.displayFlexProps(row, flex-end, flex-start);
          flex-wrap: nowrap;
          column-gap: 20px;
          transition: transform 5s ease-out;
          img {
            height: 40vh;
          }
          &:last-child {
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .aboutUsSection {
    padding-top: 450px;
  }
}

@media (max-width: 1024px) {
  .aboutUsSection {
    padding-top: 350px;
  }
}

@media (max-width: 425px) {
  .aboutUsSection {
    padding-top: 200px;
  }
}
