@mixin displayFlexProps($flexDirection: row, $alignItems: center, $justifyContent: space-between) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
